/* 8Ball css */

/* Eight ball that on hover the message floats in and the 8 spins */

/* Font for the 8 */
@font-face {
  font-family: "Graduate";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/graduate/v8/C8cg4cs3o2n15t_2YygW43w.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Font for the answers */
@font-face {
  font-family: "Pathway Gothic One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Pathway Gothic One Regular"), local("PathwayGothicOne-Regular"),
    url(https://fonts.gstatic.com/s/pathwaygothicone/v9/MwQrbgD32-KAvjkYGNUUxAtW7pEBwx-tS1ZfTc4PlA.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

$ballWidth: 350px;
$windowBorder: 10px;
$triangleSize: 60px;

body {
  text-align: center;
  color: black;
  padding-top: 2em;
  font-family: $fontBody;
}
h2 {
  font-family: $futura;
  font-size: 2em;
}
p {
  font-size: $fontSizeBody;
}
footer p {
  font-size: 1em;
  margin-top: 2em;
}

#ball,
#spot,
#answer {
  &::before,
  &::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    display: inline-block;
  }
  border-radius: 50%;
  display: inline-block;
}

#ball {
  transition: transform 0.3s ease-in-out, opacity 0.3s;
  position: relative;
  height: $ballWidth;
  width: $ballWidth;
  margin: 0 auto;
  margin-top: 2em;
  background: black;
  background: radial-gradient(circle at 50% 120%, rgba(0, 0, 0, 0.8), black);
  background-repeat: no-repeat;

  // Ambient light
  &::before {
    z-index: 2;
    top: 6px;
    left: 7px;
    width: $ballWidth;
    height: $ballWidth;
    margin: 0 auto;
    background: radial-gradient(
      circle at 60% 0px,
      white,
      rgba(255, 255, 255, 0) 58%
    );
    filter: blur(5px);
  }

  // Highlight
  &::after {
    z-index: 2;
    width: $ballWidth;
    height: $ballWidth;
    top: 5%;
    left: 10%;
    background: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.8) 14%,
      rgba(255, 255, 255, 0) 24%
    );
    opacity: 0.9;
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
  }

  #spot,
  #answer {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    margin: 0 auto;
    &::after,
    &::before {
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}

#spot {
  line-height: calc(#{$ballWidth} / 2);
  font-family: "Graduate", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-weight: normal;
  font-size: 7em;
  color: black;
  background: white;
  z-index: 4;
  transition: transform 0.3s ease-in-out, opacity 0.3s;
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid white;

  // Shadow
  &::after {
    z-index: 2;
    width: $ballWidth;
    height: $ballWidth;
    bottom: 0;
    left: 10%;
    background: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.7),
      rgba(0, 0, 0, 0.8) 14%,
      rgba(0, 0, 0, 0) 24%
    );
    opacity: 0.9;
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
  }
}

#answer {
  font-family: "Pathway Gothic One", Impact, "Arial Condensed";
  font-size: 1.4em;
  text-transform: uppercase;
  color: white;
  z-index: 3;
  white-space: pre;
  padding-top: 20%;

  // Window
  &::before {
    top: 0;
    border: $windowBorder double rgba(255, 255, 255, 0.2);
    background: radial-gradient(
      rgba(100, 100, 100, 1) 0%,
      rgba(10, 10, 10, 1) 60%
    );
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.8),
      0px 1px 3px rgba(255, 255, 255, 0.8);
    z-index: -1;
  }
  // Blue shape
  &::after {
    z-index: -1;
    top: 0;
    opacity: 1;
    background: blue;
    filter: blur(20px);
    transform: scale(0.7);
    transition: scale 3 ease-in-out;
  }
}

.spin {
  transform: rotate(360deg);
}

.vanish {
  opacity: 0;
}
