.contact {
	background: $lightGray;
  }
 .form-harris {
	width: 100%;
	background: $lightGray;
	input[type=text],
	input[type=email],
	input[type=submit],
	input[type=button]
	textarea,
	label {
		-webkit-appearance: none;
		border-radius: 0;
	}
	input[type=text],
	input[type=email],
	textarea,
	label {
		width: 100%;
	}
	input[type=submit],
	input[type=button] {
		width: 50%;
	}
	label {
		color: black;
	}
	input,
	input[type=text],
	input[type=email],
	textarea,
	input[type=submit],
	input[type=button] {
	   color: black;
	   background: $white;
	   border: none;
	   outline: none;
	   padding: 1em 1em 1em 1em;
	   border-bottom: 2px solid $gray;
	   margin: 0 0 2em 0;
	   font-size: 1em;
   	}
	textarea:focus, 
	input[type=text]:focus,
	input[type=email]:focus {
		border-bottom: 2px dashed $gray;
	}
	input[type=submit],
	input[type=button] {
	   background: $gray;
	   border: none;
	   color: $white;
	   font-size: 1em;
	   padding: 1em;
	   transition: background .3s ease-out;
   
	   &:hover {
		   background: $blue;
		   cursor: pointer;
		   color: $white;
	   }
   	}
	.col {
	   width: 50%;
	   float: left;
	   @include mobile {
		   width: 100%;
		   float: none;
	   }
   }
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: $black;
	opacity: .2; /* Firefox */
  }

