
//
// VARIABLES
//

// Colors
$blue: rgb(65, 131, 196);
$red: rgb(255, 59, 59);
$yellow: rgb(255, 232, 60);

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$futura: futura-pt, Futura, Helvetica, Arial, Sans-serif;
$georgia: Georgia, serif;

$defaultFont: 1.2em;
$labelFont: 1.1em;

// Opacity

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}