<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include tag-manager.html %}
    <h2>{{ page.title }}</h2>
    <p>Think of a question and click</p>
    <figure id="ball">
        <h1 id="spot">8</h1>
        <p id="answer">Answers on click</p>
    </figure>

    <footer>
        <p>Created by and for Kristien Anthony Harris &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
        </p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        // Reference
        // https://en.wikipedia.org/wiki/Magic_8-Ball
        const answers = [
            // First 10 of the possible answers are affirmative, Next 5 are non-committal, and last 5 are negative.
            "It is\ncertain",
            "It is\ndecidedly so",
            "Without\na doubt",
            "Yes\ndefinitely",
            "You may\nrely on it",
            "As I see it\nyes",
            "Most\nlikely",
            "Outlook\ngood",
            "Yes",
            "Signs point\nto yes",
            "Reply hazy\ntry again",
            "Ask again\nlater",
            "Better not\ntell you now",
            "Cannot predict\nnow",
            "Concentrate and\nask again",
            "Don't count\non it",
            "My reply\nis no",
            "My sources\nsay no",
            "Outlook\nnot so good",
            "Very\ndoubtful"
        ]
        let answer = "";
        let answerHTML = document.querySelector("#ball p");

        function getRandomAnswer() {

            // Get a random answer from the answers array
            answer = answers[Math.floor(Math.random() * Math.floor(answers.length))];

            // Change the text of our html answer paragraph to the answer we saved earlier
            answerHTML.textContent = answer;

        }

        // Get the answer when the button is clicked
        document.querySelector("#ball").addEventListener('click', function () { getRandomAnswer() })

        $("#ball").click(function () {
            $("#ball h1").toggleClass("vanish");
            $("#ball").toggleClass("spin");
        });

    </script>

</body>

</html>