---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>

<div class="PageNavigation">
  <h2>More posts</h2>
  {% if page.previous.url %}
      <p><a class="prev" href="{{page.previous.url}}"><strong>←</strong> {{page.previous.title}}</a></p>
  {% endif %}
  {% if page.next.url %}
      <p><a class="next" href="{{page.next.url}}">{{page.next.title}} <strong>→</strong></a></p>
  {% endif %}
</div>